node_modules
.DS_Store
dist
dist-ssr
*.local
firebase-debug.log
yarn.lock
package-lock.json
.firebase/*
.firebase

.firebase/fire-next-js/hosting/assets/404-de29d6c7.js
.firebase/fire-next-js/hosting/assets/Head-344b6e10.js
.firebase/fire-next-js/hosting/assets/index-5496b027.js
.firebase/fire-next-js/hosting/assets/Index-c84f29cd.js
.firebase/fire-next-js/hosting/assets/index-d8e709af.css
.firebase/hosting.LmZpcmViYXNlXGZpcmUtbmV4dC1qc1xob3N0aW5n.cache
.firebase/fire-next-js/hosting/index.html
.firebase/fire-next-js/hosting/assets/404-de29d6c7.js
.firebase/fire-next-js/hosting/assets/Head-344b6e10.js
.firebase/fire-next-js/hosting/assets/index-5496b027.js
.firebase/fire-next-js/hosting/assets/Index-c84f29cd.js
.firebase/fire-next-js/hosting/assets/index-d8e709af.css
.firebase/fire-next-js/hosting/index.html
.firebase/fire-next-js/hosting/assets/404-de29d6c7.js
.firebase/fire-next-js/hosting/assets/Head-344b6e10.js
.firebase/fire-next-js/hosting/assets/index-5496b027.js
.firebase/fire-next-js/hosting/assets/Index-c84f29cd.js
.firebase/fire-next-js/hosting/assets/index-d8e709af.css
.firebase/fire-next-js/hosting/assets/404-de29d6c7.js
.firebase/fire-next-js/hosting/assets/Head-344b6e10.js
.firebase/fire-next-js/hosting/assets/index-5496b027.js
.firebase/fire-next-js/hosting/assets/Index-c84f29cd.js
.firebase/fire-next-js/hosting/assets/index-d8e709af.css
.firebase/fire-next-js/hosting/assets/404-de29d6c7.js
.firebase/fire-next-js/hosting/assets/Head-344b6e10.js
.firebase/fire-next-js/hosting/assets/index-5496b027.js
.firebase/fire-next-js/hosting/assets/Index-c84f29cd.js
.firebase/fire-next-js/hosting/assets/index-d8e709af.css
.firebase/fire-next-js/hosting/index.html
.firebase/hosting.LmZpcmViYXNlXGZpcmUtbmV4dC1qc1xob3N0aW5n.cache
.firebase/hosting.LmZpcmViYXNlXGZpcmUtbmV4dC1qc1xob3N0aW5n.cache
.firebase/fire-next-js/hosting/index.html
.firebase/fire-next-js/hosting/assets/404-de29d6c7.js
.firebase/fire-next-js/hosting/assets/Head-344b6e10.js
.firebase/fire-next-js/hosting/assets/index-5496b027.js
.firebase/fire-next-js/hosting/assets/Index-c84f29cd.js
.firebase/fire-next-js/hosting/assets/index-d8e709af.css
